<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript">
	$.ajaxSetup({ cache: false});
	
	$.get('@routes.MarketController.getCarKinds()', function(result){
		var items = [];

		 $.each(result, function(key, val) {
			 items.push("<form action=\"@routes.MarketController.deleteCarKind()\" method=\"post\" >");
			 items.push('<input type="hidden" name="id" value="'+val.id+'"/>');
		     items.push('<li id="' + val.id + '">' + val.name+' (' +val.country+ ')');
		     items.push('<input type="image" src="@routes.Assets.at("images/remove.png")"/>');
		   	 items.push("</li></form>");
		 });
		 
		 $('#carKinds').append(items.join(''))
	});
	
	$.get("@routes.MarketController.getCarModels()", {}, function(result){
		var items = [];

		 $.each(result, function(key, val) {
		     items.push("<form action=\"@routes.MarketController.deleteCarModel()\" method=\"post\" >");
			 items.push('<input type="hidden" name="id" value="'+val.id+'"/>');
			 items.push('<li id="' + val.id + '">' + val.name+' (' +val.yearStart+ '/'+val.yearEnd+')');
		     items.push('<input type="image" src="@routes.Assets.at("images/remove.png")"/>');
		   	 items.push("</li></form>");
		 });
		 
		 $('#carModels').append(items.join(''))
	});
</script>

<ul id="carKinds"></ul>

<form action="@routes.MarketController.addCarKind()" method="post" >
	<input type="text" name="name"  placeholder="name"/>
	<input type="text" name="country" placeholder="country"/>
	<button>Add Car Kind</button>
</form>

<ul id="carModels"></ul>
<form action="@routes.MarketController.addCarModel()" method="post">
	<input type="text" name="name"  placeholder="name"/>
	<input type="text" name="yearStart" placeholder="Year Start"/>
	<input type="text" name="yearEnd" placeholder="Year End"/>
	<button>Add Car Model</button>
</form>