<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript">
	$.ajaxSetup({ cache: false});
	
	var kinds = [];
	var models = [];
	$.get("@routes.CarPositionController.getCarPositions()", function(result){
		var items = [];

		 $.each(result, function(key, val) {
		     items.push('<form action=\"@routes.CarPositionController.deleteCarPosition()\" method=\"post\" >');
			 items.push('<input type="hidden" name="id" value="'+val.id+'"/>');
			 items.push('<li id="' + val.id + '">' + val.kind.name+' '+val.model.name+' - odometer: ' +val.od+ '; Year Issue: '+val.yearIssue+'; Price: '+val.price);
		     items.push('<input type="image" src="@routes.Assets.at("images/remove.png")"/>');
		     items.push('</li></form>');
		     kinds.push(val.kind.name);
		     models.push(val.model.name);
		 });
		 
		 $('#carPositions').append(items.join(''))
	}).always(function() {
		$.get('@routes.CarKindController.getCarKinds()', function(result){
			var items = [];
			var itemsSelect = [];

			 $.each(result, function(key, val) {
				 itemsSelect.push('<option>'+val.name+'</option>');
				 items.push('<form action=\"@routes.CarKindController.deleteCarKind()\" method=\"post\" >');
				 items.push('<input type="hidden" name="id" value="'+val.id+'"/>');
			     items.push('<li id="' + val.id + '">' + val.name+' (' +val.country+ ')');
			     if (kinds.indexOf(val.name)==-1) items.push('<input type="image" src="@routes.Assets.at("images/remove.png")"/>');
			   	 items.push('</li></form>');
			 });
			 
			 $('#carKinds').append(items.join(''))
			 $('#carKindsSelect').append(itemsSelect.join(''));
		});
		
		$.get("@routes.CarModelController.getCarModels()", function(result){
			var items = [];
			var itemsSelect = [];

			 $.each(result, function(key, val) {
				 itemsSelect.push('<option>'+val.name+'</option>');
			     items.push('<form action=\"@routes.CarModelController.deleteCarModel()\" method=\"post\" >');
				 items.push('<input type="hidden" name="id" value="'+val.id+'"/>');
				 items.push('<li id="' + val.id + '">' + val.name+' (' +val.yearStart+ '/'+val.yearEnd+')');
				 if (models.indexOf(val.name)==-1) items.push('<input type="image" src="@routes.Assets.at("images/remove.png")"/>');
			   	 items.push('</li></form>');
			 });
			 
			 $('#carModels').append(items.join(''))
			 $('#carModelsSelect').append(itemsSelect.join(''));
		});
	  });
</script>

<ul id="carKinds"></ul>
<form action="@routes.CarKindController.addCarKind()" method="post" >
	<input type="text" name="name"  placeholder="name"/>
	<input type="text" name="country" placeholder="country"/>
	<button>Add Car Kind</button>
</form>

<ul id="carModels"></ul>
<form action="@routes.CarModelController.addCarModel()" method="post">
	<input type="text" name="name"  placeholder="name"/>
	<input type="text" name="yearStart" placeholder="Year Start"/>
	<input type="text" name="yearEnd" placeholder="Year End"/>
	<button>Add Car Model</button>
</form>

<ul id="carPositions"></ul>
<form action="@routes.CarPositionController.addCarPosition()" method="post">
	<select id="carKindsSelect" name="carKindsSelect" ></select>
	<select id="carModelsSelect" name="carModelsSelect" ></select>
	<input type="text" name="od"  placeholder="od"/>
	<input type="text" name="price" placeholder="price"/>
	<input type="text" name="yearIssue" placeholder="Year Issue"/>
	<button>Add Car to Market</button>
</form>